:root{
    --backgroundColor: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}
*{
    box-sizing: border-box;
    /* margin: 0; */
}
body{
    background-color: var(--backgroundColor);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300 400 600;
    font-style: normal;

}
.container{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.card{
    padding: 1rem;
    width: 20rem;
    background-color: var(--card-BG);
    border-radius: 10px;
    box-shadow: 0 13px 15px;
}
img.equilibrium{
    display: block;
    width: 100%;
    border-radius: 10px;
    
}
/* IMAGE EQUILIBRIUM IN ACTIVE STATE */
.img-container {
    position: relative;
  }
  
  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-container:hover .equilibrium {
    opacity: 0.3 ;
  }
  
  .img-container:hover .middle {
    opacity: 1;
  }
/* for heading(h1) */
.heading{
    font-size: 1.4rem;
    color: var(--white);
}
/* HEADING IN ACTIVE STATE */
.heading:hover{
    color: var(--cyan);
    cursor: pointer;
}
/* p */
.info{
    color: var(--softBlue);
    font-size: 18px;
}

.ethereum{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1.5px solid var(--line);
}
.no{
    display: flex;
    gap: 4px;
}

span.eth{
    color: var(--cyan);
}
span.clock{
    color: var(--softBlue);
}
.footer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
}
img.avatar{
    width: 30px;
}

a{
    color: var(--white);
    text-decoration: none;
}
a:hover{
    color: var(--cyan);
}